@inherits BCITDataTableBase

<div>
    <h2>@Title</h2>
    <table class="table">
        <thead>
            <tr>
                @foreach(var column in TableDefinitions.Columns)
                {
                    <th class="bcit-table-column-header">@column.Header</th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach(var (cell, index) in CellDefinition.Select( (cell, index) => (cell, index)))
                {
                    <BCITDataTableCell Cell="cell" Column="TableDefinitions.Columns[index]" />
                }
                
            </tr>
        </tbody>
    </table>
</div>
