@inherits DropdownBase
@using Microsoft.AspNetCore.Components.Forms
<EditForm Model="ListItems">
    <InputSelect @bind-Value="SelectedItemId" class="bcit-dropdown"> 
        @foreach(var item in ListItems)
        {
            if(item.IsSelected)
            {
                <option selected @onclick="InvokeOnClick">@item.Text</option>
            }
            else
            {
                <option @onclick="InvokeOnClick">@item.Text</option>
            }
        }
    </InputSelect>
</EditForm>



